@charset "UTF-8";

/*Isso é um comentario no css*/
/*css "cascade style sheet" ou folha de estilo em cascata*/
/*quando uma mesma propriedade é definida mais de uma vez, a última prevalece
reescrevendo a anteriomente declarada*/
/* essa declaração abaixo, pinta o BODY de preto */
/* Seletor simples */

body { background-color: blue; }

/* agora vamos testar a CASCATA do CSS */
/* primeiro o CSS pintou o BODY de preto, agora pntou de amarelo, a segunda definição, ou seja a mais "profunda" na cascata prevaleceu */

body { background-color: bisque; }

h1 { font-size: 50px; }
h2 {font-size: 25px; }
h3 { font-size: 15px; }

h1 { text-transform: uppercase; }
h2 { text-transform: capitalize; }

/*seletor agrupado*/
/*todos os elementos listados são igualmente afetados*/

header, nav, aside, article, section, footer {

border: dashed 2px blue;

background-color: lightpink; 
}

article { background-color: aquamarine; }

/*pequena declaração para deixar o menu horizontal
é uma das formas mais recorrentes de se fazer um MENU de navegação*/

li { display: inline; }