@charset "UTF-8";

article { background-color: skyblue;}

aside {background-color: darkseagreen;}

nav {background-color: chocolate;}

section {background-color: bisque;}

 /*esse css esta atuando na tabela*/

 table {
  background-color: white;
  border-collapse: collapse;
}

td, th {
  border: 2px solid black;
  padding: 5px;
  color: black;
}

tr.topo {
   background-color: skyblue;
   color: black;
}

.morrer{
  color: red;
  font-weight: bold;
}

.data{
   background-color: lightcoral;
   font-weight: bold;
}
